html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: repeating-linear-gradient(to bottom right, #111111 0% 10%, #222222 10% 20%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    overflow-x: hidden;
    scrollbar-color: #0d5de1 #111111;
    scrollbar-width: thin;
}
header {
    width: 100vw;
    height: 10vh;
    background: #111111;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img {
    height: 100%;
}
header div {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: #888888;
}
header div .active {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    font-weight: bold;
    color: #0d5de1;
    text-shadow: 0 0 20px #0d5de1;
}
header div a {
    transition: 0.25s color;
}
header div a:hover {
    cursor: pointer;
    color: #ffffff;
    transition: 0.25s color;
    text-decoration: none;
}
#con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding-top: 10%;
}
#con2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding-top: 9%;
}
#bod {
    margin-top: 10vh;
}
#g {
    color: #0d5de1;
    text-shadow: 0 0 20px #0d5de1;
}
.go {
    color: #E86600;
    text-shadow: 0 0 20px #E86600;
}
#con h1 {
    font-size: 4rem;
}
#content {
    background-color: #222222;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 15%;
    width: 70%;
    padding-left: 2.5%;
    padding: 2.5%;
    margin-bottom: 5%;
    border-radius: 8px;
}
#scr {
    display: flex;
    flex-direction: row;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
    margin-top: 1rem;
}
#card {
    background-color: #0d5de1;
    padding: 1.5rem;
    border-radius: 8px;
    width: 47.5%;
}
#card img {
    width: 10%;
}
footer {
    width: 100%;
    height: 20vh;
}
footer img {
    height: 10vh;
    margin-left: 2vw;
}
#a {
    margin-left: 10%;
    grid-column: Products;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    height: 5vh;
}
#gr {
    display: grid;
    grid-template-areas:
    "Products Links Contact";
    gap: 20px;
}
a {
    color: #888888;
    text-decoration: none;
}
a:visited {
    color: #888888;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
#b {
    grid-column: Links;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    height: 5vh;
}
#a a {
    margin-bottom: 2vh;
}
#b a {
    margin-bottom: 2vh;
}
#c a {
    margin-bottom: 2vh;
}
#c {
    grid-column: Contact;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    height: 5vh;
}
hr {
    width: 95vw;
    height: 1vh;
    background-color: #0d5de1;
    box-shadow: 0 0 20px #0d5de1;
    border-radius: 8px;
    margin-top: 20vh;
    border: 0;
}

#bottom {
    width: 95vw;
    margin-left: 1.25vw;
    height: 4vh;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6vh;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #111111;
}
::-webkit-scrollbar-thumb {
    background: #0d5de1;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0d5dee;
}
#banner {
    width: 50%;
}