@font-face {
    font-family: Etho;
    src: url('../fonts/ethnocentric.rg-regular.ttf');
}

a {
    height: 100%;
    text-decoration: none;
    color: #fe73f6;
}
a:visited {
    color: #fe73f6
}
a:hover {
    background-color: #2e7d49;
    color: #f36b68;
    text-decoration: underline;
}

#logo {
    height: 35vh;
    transition: 0.2s;
}

.header {
    width: 100vw;
    height: 50vh;
    
    background-color: #1da33c;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    
    box-shadow: 0 0 0.25em 0.25em #1d713c;
    transition: 0.2s;
}

header {
    height: 50vh;
    transition: 0.2s;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
button {
    background-color: #2f3136;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
}
button:hover {
    background-color: #37393e;
    cursor: pointer;    
}
html {
    background-color: #2f3136;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle, #2f3136 0%, #37393e 100%);
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    padding: 3vh;
}
#footer {
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    left:0;
}
#dis {
    height: 5vh;
}
#myi {
    height: 10vh;
}
#mystique {
    display: flex;
    flex-direction: row;;
}
#mystique p {
    margin-left: 1vw;
}
