html {color: #ffffff; background-color: #23272a; font-family: Verdana, Geneva, Tahoma, sans-serif;}
@font-face {
    font-family: Logo;
    src: url('../fonts/ethnocentric.rg-regular.ttf');
}
.logo {
    font-family: Logo;
}
.navBar {
    background-color: #5866ef;
    width: 100%;
    height: 5%;
    size: absolute;
    position: absolute;
    top: 0%;
    left: 0%;
}
.navBarItem {
    font-size: 1.5vw;
    background-color: #5866ef;
    color: #ffffff;
    height: 80%;
    width: 10%;
    top: 10%;
    right: 5%;
    position: absolute;
    text-align: center;
    font-family: Logo;
}
.navBarItem:hover {
    transition: 0.25s;
    background-color: #3d48a6;
}
.navBarImg:hover {
    transition: 0.25;
    background-color: #3d48a6;
}
.soundcontainer {
    background-color: #37393e;
    width: 90%;
    height: 80%;
    size: absolute;
    position: absolute;
    top: 10%;
    left: 5%;
}
.sound {
    width: 10%;
    height: 10%;
    margin-top: 5%;
    left: 2.5%;
    background-color: #5866ef;
    size: absolute;
    position: absolute;
    font-family: Logo;
    color: #ffffff;
    border-radius: 8px;
}
.sound:hover {
    transition: 0.25;
    background-color: #3d48a6;
}